<div class="container">
 <div class="row">
  <div class="col-lg-8 col-lg-offset-2">
   <div class="frame">
    <div class="reg">
        <h1>Sign Up </h1>
    </div>
    <div><hr  class="form-bar">
  <%= form_for(resource, as: resource_name, :class => "form-sign", url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
      
    <%= f.email_field :email, autofocus: true, :class => "form-styling", :placeholder => "Email Address" %>

    <%= f.password_field :password, autocomplete: "off", :class => "form-styling", :placeholder => "Password" %>
    <label> <% if @validatable %>
    <em>(<%= @minimum_password_length %> Characters Minimum)</em>
    <% end %></label>
   
    
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => "form-styling", :placeholder => "Confirm Password" %> 

      <%= f.radio_button(:role, "brand"), :id => "checkbox"%><%= f.label("Brand") %><br>
      <%= f.radio_button(:role, "influencer") %><%= f.label("Influencer") %>



  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
