<head>
  <%= stylesheet_link_tag    'users', media: 'all', 'data-turbolinks-track' => true %>
</head>
<div class="container">
    <div class="row">
    <div class="logo">
      <a href="/">Sway Up</a>
    </div>
  </div>
  <div class="row top-spacing">
    <div class="col-lg-8 col-lg-offset-2">
      <div class="frame">
        <div class="reg">
          <h1>Forgot Password?</h1>
        </div>
        <div><hr  class="form-bar">
         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <%= devise_error_messages! %>

          <%= f.email_field :email, autofocus: true, :class => "form-styling", :placeholder => "Email Address" %>
          
          <%= f.submit "Send Reset Password", :class => "btn-sign" %>

          <% end %>

          <div class="forgot">
           <%= render "devise/shared/links" %>
         </div>
       </div>
     </div>
   </div>
 </div>
 <footer class="stretch">
   <div class="footer-bottom">
    <div class="row">

      <div class="col-twelve">
        <div class="copyright">
          <span>© Copyright SwayUp 2016.</span>
        </div>
      </div>  
 </div>
</div>
</footer>
</div>