<!DOCTYPE html>
<html lang="en">
    <head>        
        <!-- META SECTION -->
        <title>Sway Up</title>            
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  		<%= csrf_meta_tags %>      
  	    <link rel="stylesheet" href="../assets/theme-default.css.scss">
  		<style type="text/css">
		  .x-navigation.x-navigation-minimized {
		  min-height: 670px!important;
		}
  		</style>
  		<script type="text/javascript">
  		    $( document ).ready(function(){
  			   $(".xn-icon-button").on('click', function(){
  			   $(".page-sidebar .x-navigation").toggleClass("x-navigation-minimized");
  			   $(".page-container").toggleClass("page-navigation-toggled page-container-wide");
  				});
            });
  		</script>     
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            
            <!-- START PAGE SIDEBAR -->
            <%= render 'sidebar.html.erb'%>
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
            <%= render 'topbar.html.erb'%>
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>                    
                    <li class="active">View Campaigns</li>
                </ul>
                <!-- END BREADCRUMB -->                       
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">  
                    <% if current_user.socials.where(provider: "instagram").empty? %>
                        <div class="row text-center">
                            <a href="https://api.instagram.com/oauth/authorize/?client_id=fdaf0607c4c04ac5b0dd5c2e30f56fd3&redirect_uri=http://localhost:3000/instagram_redirect&response_type=code" class="btn btn-primary btn-lg" style="background-color: #125688;"><i class="fa fa-instagram"></i> Add Instagram Account</a>
                        </div>
                        <br >
                         <div class="alert alert-warning text-center">
                             <strong>Whoops!</strong>You can't accept any invites until you add your Instagram account
                        </div>
                    <% elsif !@invites.empty? %>
                        <div class="alert alert-info text-center">
                         <strong>Whoop whoop! </strong>Brands want you. You should be proud :)
                        </div>
                    <% elsif @invites.empty? %>
                        <div class="alert alert-info text-center">
                         You don't have any invites yet
                        </div>
                    <% end %>
                    
                    <div class="row">
                      <% if !@invites.empty? %>
                          <% @invites.each do |amb| %>
                                <div id="amb_card_<%= amb.id %>" class="col-lg-4 card campaigns">
                                    <h3 class="text-center"><%= amb.campaign.brand.name %></h3>
                                    <h2 class="text-center"><%= amb.campaign.name %></h2>
                                    <div class="row">
                                        <% if current_user.socials.where(provider: "instagram").empty? %>
                                            <button class="btn btn-success disabled">Accept</button>
                                            <button class="btn btn-danger disabled">Decline</button>
                                        <% else %>
                                          <%= form_for amb, :url => {controller: 'ambassadors', action: 'update'}, remote: true do |f|%>
                                            <%= f.hidden_field :id, value: amb.id %>
                                            <%= f.hidden_field :status, value: 'accepted' %>
                                              <%= f.submit "Accept", class: "btn btn-success col-xs-6" %>
                                          <% end %>
                                          <%= form_for amb, :url => {controller: 'ambassadors', action: 'update'}, remote: true do |f|%>
                                              <%= f.hidden_field :id, value: amb.id %>
                                              <%= f.hidden_field :status, value: 'rejected' %>
                                              <%= f.submit "Decline", class: "btn btn-danger col-xs-6" %>
                                          <% end %>
                                        <% end %>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>

                    </div>
               
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->                 
        
    </body>
</html>






