<div class="col-md-7 col-md-offset-3">
  <div class="card brand-accent">
    <% if current_user.id == @campaign.brand.user_id %>
        <%= render 'top_mini_menu' %>
        <div class="card-head">
            <%= link_to brand_campaigns_path(@campaign.brand), remote: true do %>
                <span class="cload"><i class="fa fa-arrow-left"></i> Back</span>
            <% end %>
            <div class="tools">
                  <%= link_to  edit_brand_campaign_path(@campaign.brand_id, @campaign.id), remote: true do %>
                      <span class="cload"><i class="fa fa-pencil"></i> Edit</span>
                  <% end %>

            </div>
        </div>
    <% end %>
    <div class="white no-pad">
      <div id="show_inner">
        <div class="row">
          <div class="col-md-6">
            <div class="field">
              <div class="ftitle">Name</div>
              <%= @campaign.name%>
            </div>

            <div class="field">
              <div class="ftitle">Campaign weblink</div>
              <%= @campaign.url%>
            </div>

            <div class="field">
              <div class="ftitle">Socail Hashtag</div>
              #<%= @campaign.tag%>
            </div>

            <div class="field">
              <div class="ftitle">Description</div>
              <%= @campaign.description%>
            </div>
          </div>
          <div class="col-md-6">
            <div class="field">
              <div class="ftitle">Campaign photo</div>
              <%= image_tag @campaign.image.url, class: 'cphoto' %>
            </div>
          </div>
        </div>

        <% if (user.role == 'influencer') %>
            <div class="embed no-pad">
                <% amb = Ambassador.where(user_id: user.id, campaign_id: @campaign.id).first %>
                <% if amb.status == "accepted" %>
                    Copy the following
                    <hr/>
                    <div>URL (link)</div>
                    http://swayup.co/ambassadors/<%= amb.id %>/redirect
                    <hr>
                    <div>Social</div>
                    #<%= @campaign.tag %>
                    <hr>
                    <div>Embed code</div>
                    <pre><code>&lt;div class=&quot;pry_card card&quot;&gt;&lt;/div&gt;&lt;script&gt;var ambid=<%= amb.id %>;var script = document.createElement('script');script.src = "geo.js";document.head.appendChild(script);&lt;/script&gt;
                        </code>
                    </pre>
                <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>