<!DOCTYPE html>
<html lang="en">
<head>
  <title>SwayUp - Brands</title>

  <!-- BEGIN META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="brand dashboard">
  <meta name="description" content="Monitor and Track Brand Campaigns">
  <!-- END META -->

  <!-- BEGIN STYLESHEETS -->
  <%= stylesheet_link_tag  'brands', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
  <%= javascript_include_tag 'brands', 'data-turbolinks-track' => true %>

  <!-- END STYLESHEETS -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../../assets/js/libs/utils/html5shiv.js?1403934957"></script>
    <script type="text/javascript" src="../../assets/js/libs/utils/respond.min.js?1403934956"></script>
    <![endif]-->
  </head>
  <body class="menubar-hoverable header-fixed">

    <!-- BEGIN HEADER-->
    <header id="header" >
      <%= render 'brands/top_bar.html.erb'%>
    </header>
    <!-- END HEADER-->
    <div id="base">

      <!-- BEGIN CONTENT-->
      <div id="content">
        <section>
          <div class="section-body">
            <div class="row">
             <div class="col-md-7 col-md-offset-3">
              <div class="card card-outlined">
                <div class="row style-accent-bright">
                  <div class="card-head"><header>Create a Campaign</header>
                  <!-- <div class="tools">
                    <span><i class="fa fa-pencil"></i> Edit</span>

                  </div> -->
                </div>
              </div>
  <%= form_for [@brand, @campaign]  do |f|%>
              <div class="form-group floating-label spacing">
                <%= f.text_field :name, size: '80', class: "form-control", require:''%>
                <label>Campaign name</label>
                </div>
                <div class="form-group floating-label spacing">
                <%= f.text_field :url, size: '80', class: "form-control", required:''%><label>Campaign URL</label>
              </div>
              <div class="mui-textfield hashtag">
                <%= f.text_field :url, size: '80', placeholder: "Campaign #hashtag", class: "form-control form-group", 'data-role': "tagsinput"%>
              </div>

    <!--<div class="field">
      <% #f.select :country_ids, @countries.collect {|p| [ p.nicename, p.id ] }, {prompt: 'Country'}, {multiple: true} %>
    </div>-->
    <div class="form-group floating-label spacing">
      <%= f.text_field :description, size: '80', class: "form-control"%><label>Country</label>
    </div>
    <div class="form-group floating-label spacing">
      <%= f.text_area :description, size: '80', class: "form-control"%><label>Description</label>
    </div>

    <br>
    <div class="mui-textfield">
     <label class="form-control"><span style="color:rgb(161, 155, 155)">Interest</span> 
      <div class="btn-group pull-right" data-toggle="buttons">
        <label class="btn ink-reaction btn-raised btn-accent-bright">
          <input type="checkbox" name="options" id="option1"><i class="fa fa-heart fa-fw"></i> Fashion
        </label> 
        <label class="btn ink-reaction btn-raised btn-accent-bright">
          <input type="checkbox" name="options" id="option2"><i class="fa fa-rocket fa-fw"></i> Entertainment
        </label>
        <label class="btn ink-reaction btn-raised btn-accent-bright">
          <input type="checkbox" name="options" id="option3"><i class="fa fa-cutlery fa-fw"></i> Food
        </label>
      </div></label>
    </div><br>
    <div class="form-group floating-label spacing">
      <%= f.submit 'Create Campaign' , class:"btn ink-reaction btn-lg btn-accent"%>
    </div>

  <% end %>

  </div>
</div>
</div>
</div>
</div><%= render 'brands/side_bar.html.erb'%>
</div>
</body>
</html>