<!DOCTYPE html>
<html lang="en">
<head>
  <title>SwayUp - Brands</title>

  <!-- BEGIN META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="brand dashboard">
  <meta name="description" content="Monitor and Track Brand Campaigns">
  <!-- END META -->

  <!-- BEGIN STYLESHEETS -->
  <%= stylesheet_link_tag  'brands', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
  <%= javascript_include_tag 'brands', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- END STYLESHEETS -->

  </head>
  <body class="menubar-hoverable header-fixed">

    <!-- BEGIN HEADER-->
    <header id="header" class="header-inverse">
    <%= render 'top_bar.html.erb'%>
      </header>
      <!-- END HEADER-->

      <!-- BEGIN BASE-->
      <div id="base">

        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
              <div class="section-header"></div>
                <div class="section-body">
                    <% if @brands.empty? %>
                      <%= render "zero" %>
                    <% else %>
                      <%= render "campaigns/index", brand: @brands[0] %>
                    <% end %>
                </div>
            </section>
        </div><!--end #content-->
        <!-- END CONTENT -->

        <!-- BEGIN MENUBAR-->
       <%= render 'side_bar.html.erb' %>
        <!-- END MENUBAR -->

      </div><!--end #base-->
      <!-- END BASE -->

    </body>
    </html>

