<!DOCTYPE html>
<html lang="en">
<head>
  <title>SwayUp - Brands</title>

  <!-- BEGIN META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="brand dashboard">
  <meta name="description" content="Monitor and Track Brand Campaigns">
  <!-- END META -->

  <!-- BEGIN STYLESHEETS -->
  <%= stylesheet_link_tag  'brands', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/>
  <%= javascript_include_tag 'brands', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- END STYLESHEETS -->

  </head>
  <body class="menubar-hoverable header-fixed">

    <!-- BEGIN HEADER-->
    <header id="header" class="header-inverse">
    <%= render 'top_bar.html.erb'%>
      </header>
      <!-- END HEADER-->

      <!-- BEGIN BASE-->
      <div id="base">

        <!-- BEGIN CONTENT-->
        <div id="content">
            <section>
              <div class="section-header"></div>
              <div id="jloader" class="circle shad" hidden="true"></div>
                <div class="section-body">
                    <% if @brands.empty? %>
                      <%= render "zero" %>
                    <% else %>
                      <%= render "campaigns/index", brand: @brands[0] %>
                    <% end %>
                </div>
            </section>
        </div><!--end #content-->
        <!-- END CONTENT -->

        <!-- BEGIN MENUBAR-->
       <%= render 'side_bar.html.erb' %>
        <!-- END MENUBAR -->

      </div><!--end #base-->
      <!-- END BASE -->
    <script>
      $(document).ready(function(){
          var circle = new Sonic({
              width: 100,
              height: 100,
              stepsPerFrame: 1,
              trailLength: 1,
              pointDistance: .02,
              fps: 30,
              fillColor: '#05E2FF',
              step: function(point, index) {

                  this._.beginPath();
                  this._.moveTo(point.x, point.y);
                  this._.arc(point.x, point.y, index * 7, 0, Math.PI*2, false);
                  this._.closePath();
                  this._.fill();
              },
              path: [
                  ['arc', 50, 50, 30, 0, 360]
              ]
          });
          circle.play();
          $("#jloader").html(circle.canvas);

          $(document).on("click", ".cload", function(){
              //console.log("sndgsdg")
              $("#jloader").show();
          });
      });
    </script>

  </body>
    </html>

